.textos{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem 18rem 4rem 18rem;
}

.texto_1{
  font-size: var(--fs-1);
  color: var(--vinho);
  font-weight: var(--fw-3);
  line-height: 1.5rem;

}
.texto_2{
  font-size: 3rem;
  color: var(--preto);
  font-weight: var(--fw-3);
  line-height: 3.75rem;
  padding: 1.5rem 0 1.5rem 0;
}
.texto_3{
  font-size: var(--fs-2);
  color: var(--cinza);
  font-weight: var(--fw-1);
  text-align: center;
  line-height: 1.7rem;
}

.metricas__container{
  padding: 0 5rem 6rem 5rem;
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  text-align: left;
}

.titulo__metricas{
  color: var(--vinho);
  font-size: 3.75rem;
  font-weight: var(--fw-3);
  line-height: 4.5rem;
}

.subtitulo__metricas{
  font-size: 1.125rem;
  font-weight: var(--fw-2);
  color: var(--azul-escuro);
  line-height: 1.75rem;
}

.paragrafo__metricas{
  color: var(--cinza);
  font-size: var(--fs-1);
  font-weight: var(--fw-1);
  line-height: 1.5rem;
}

.div__metricas__1{
  padding: 0 2rem 1.5rem 0rem;
}


.div__metricas__3{
  padding: 0 2rem 0rem 2rem;
  
}


